.homePageContainer {
    width: 1080px;
    margin: 20px auto;
    display: flex;
}

.homePageContainer .leftSide {
    width: 50%;
    padding-right: 30px;
}

.homePageContainer .rightSide {
    width: 50%;
    padding-left: 30px;
}

.homePageContainer .inputClass {
    padding: 15px 0;
}

.homePageContainer .noZipCodeText {
    color: grey;
    padding: 15px 0 ;
}

.homePageContainer .header {
    font-size: 24px;
}