.loginContainer {
    width: 1080px;
    margin: 20px auto;
    display: flex;
    flex: 1;
}

.loginContainer .leftSide {
    width: 50%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.loginContainer .rightSide {
    width: 50%;
    margin-left: 30px;
}

.loginContainer .rightSide .rightHeader {
    padding: 10px 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.loginContainer .leftSide .leftItem {
    padding: 10px 0 ;
    font-size: 14px;
}

.loginContainer .leftSide .leftHeader {
    font-size: 24px;
}

.loginContainer .rightSide .ui.icon.input>i.icon:not(.link) {
    pointer-events: all;
}