.navBarLoggedInContainer {
    height: 75px;
    display: flex;
    width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
}

.navBarLoggedInContainer .navBarName {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
}

.navBarLoggedInContainer .navBarItem {
    align-self: center;
}

.navBarLoggedInContainer .link {
    color: black;
}

.navBarLoggedInContainer .navBarList {
    line-height: 0;
}

.navBarLoggedInContainer .leftOption {
    font-size: 20px;
}